<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1080577588331-gruo9kp1gs041f3k0oh88imp26s24at0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1080577588331-gruo9kp1gs041f3k0oh88imp26s24at0</string>
	<key>API_KEY</key>
	<string>AIzaSyBjQb7FlSD1nb5XOPRioFcmDoZZPUEbGa0</string>
	<key>GCM_SENDER_ID</key>
	<string>1080577588331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.elow</string>
	<key>PROJECT_ID</key>
	<string>energycelab</string>
	<key>STORAGE_BUCKET</key>
	<string>energycelab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080577588331:ios:cf8a29a0374127c639452e</string>
	<key>DATABASE_URL</key>
	<string>https://energycelab-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>